In [1]:
# 데이터 구성:Series,DataFrame
import pandas as pd

# 데이터 시각화
import matplotlib.pyplot as plt
import matplotlib

# export_graphviz : 나무 구조 생성 및 저장 
from sklearn.tree import export_graphviz

# graphviz : 나무 구조 시각화 (dot.확자아 파일 불러오기 등)
import graphviz

# 데이터 분할:train,test
from sklearn.model_selection import train_test_split

# 분류 Decision Tree
from sklearn.tree import DecisionTreeClassifier 

# 최적 모델, 파라미터 탐색 
from sklearn.model_selection import GridSearchCV

# 모델 성능 평가
from sklearn.metrics import confusion_matrix

# 한글 깨짐 방지
import matplotlib.font_manager as fm 
font_list=[font.name for font in fm.fontManager.ttflist]
font_list
plt.rcParams['font.family']='NanumBarunGothic'

# 나무 시각화 페이지

# os환경
import os

# PATH 설정:graphviz 설치된 경로 지정
os.environ['PATH']+=os.pathsep+'C:/Program Files (x86)/Graphviz2.38/bin/'

In [2]:
import numpy as np
from pandas import DataFrame
from sklearn.metrics import accuracy_score

seed = 2017
np.random.seed(seed)

from mlens.ensemble import SuperLearner
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier

[MLENS] backend: threading

In [3]:
df_raw=pd.read_csv("/home/piai/Desktop/최종/insu_pre_review.csv", engine='python', encoding='EUC-KR')
df_raw.head()

,customer_id,review_cat,judge,review_date,gender,age,height,weight,bust,waist,...,bt_mch_judge,bt_mchc_judge,bt_mvc_judge,bt_plat_judge,bt_rbc_judge,bt_wbc_judge,bt_rgpt_judge,bt_sgot_judge,bt_sgpt_judge,bt_trig_judge
0,C112346,혈액검사,재검,2014-10-09,1,70,165,63,92.0,88.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,C112350,일반검진,재검,2014-11-18,1,69,178,75,99.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C112355,일반검진,재검,2015-03-18,1,70,169,69,96.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C112356,혈액검사,재검,2015-09-28,1,70,165,64,103.0,92.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,C112358,혈액검사,거절,2015-02-24,1,70,166,73,100.0,91.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [4]:
df_raw_blood=df_raw[df_raw["review_cat"]=="혈액검사"]

In [5]:
df_raw_blood["judge"][df_raw_blood["judge"]=='재검']=0
df_raw_blood["judge"][df_raw_blood["judge"]=='승인']=0
df_raw_blood["judge"][df_raw_blood["judge"]=='거절']=1

<ipython-input-5-c825a8209013>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_blood["judge"][df_raw_blood["judge"]=='재검']=0
/home/piai/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:8765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
<ipython-input-5-c825a8209013>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_blood["judge"][df_raw_blood["judge"]=='승인']=0
<ipython-input-5-c825a8209013>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_blood["judge"][df_raw_blood["judge"]=='거절']=1

In [6]:
df_raw_blood["bt_hbsa"][df_raw_blood["bt_hbsa"]=='NEGATIVE']=1
df_raw_blood["bt_hbsa"][df_raw_blood["bt_hbsa"]=='POSITIVE']=0

<ipython-input-6-ccb828b7e37f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_blood["bt_hbsa"][df_raw_blood["bt_hbsa"]=='NEGATIVE']=1
<ipython-input-6-ccb828b7e37f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw_blood["bt_hbsa"][df_raw_blood["bt_hbsa"]=='POSITIVE']=0

In [7]:
df_raw_blood_man=df_raw_blood[df_raw_blood["gender"]==1]
df_raw_blood_man

,customer_id,review_cat,judge,review_date,gender,age,height,weight,bust,waist,...,bt_mch_judge,bt_mchc_judge,bt_mvc_judge,bt_plat_judge,bt_rbc_judge,bt_wbc_judge,bt_rgpt_judge,bt_sgot_judge,bt_sgpt_judge,bt_trig_judge
0,C112346,혈액검사,0,2014-10-09,1,70,165,63,92.0,88.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,C112356,혈액검사,0,2015-09-28,1,70,165,64,103.0,92.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,C112358,혈액검사,1,2015-02-24,1,70,166,73,100.0,91.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,C112361,혈액검사,0,2015-06-28,1,70,169,70,98.0,90.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,C112363,혈액검사,0,2014-12-22,1,69,164,67,98.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14910,C134204,혈액검사,1,2015-03-10,1,54,180,83,95.0,86.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14911,C134205,혈액검사,0,2014-10-22,1,68,165,57,87.0,80.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14912,C134207,혈액검사,0,2015-04-02,1,60,165,74,100.0,86.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14913,C134208,혈액검사,0,2015-01-15,1,60,169,66,94.0,86.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14914,C134210,혈액검사,0,2015-04-02,1,60,170,61,95.0,82.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df_raw_blood_man=df_raw_blood_man.drop(["customer_id","review_cat","review_date","gender","bust","bp_max","bp_min",\
                                        "pulse_count","judge_score","bt_chol_judge","bt_crea_judge","bt_gluc_judge","bt_hb_judge",\
                                        "bt_hbsa_judge","bt_hct_judge","bt_mch_judge","bt_mchc_judge","bt_mvc_judge","bt_plat_judge",\
                                        "bt_rbc_judge","bt_wbc_judge","bt_rgpt_judge","bt_sgot_judge","bt_sgpt_judge","bt_trig_judge"],axis=1)

In [9]:
df_raw_blood_man.drop(["bt_hct","bt_mch","bt_mchc","bt_mvc","bt_plat","bt_rbc","bt_wbc"], axis=1)

,judge,age,height,weight,waist,bt_chol,bt_crea,bt_gluc,bt_hb,bt_hbsa,bt_rgpt,bt_sgot,bt_sgpt,bt_trig,bp_judge,pulse_count_judge
0,0,70,165,63,88.0,140.0,NaN,81.0,NaN,1,98.0,23.0,20.0,NaN,1,0
3,0,70,165,64,92.0,167.0,0.9,87.0,NaN,1,86.0,28.0,32.0,73.0,0,0
4,1,70,166,73,91.0,205.0,NaN,83.0,NaN,1,35.0,40.0,53.0,NaN,1,0
5,0,70,169,70,90.0,223.0,1.0,72.0,16.9,1,45.0,23.0,30.0,169.0,1,0
6,0,69,164,67,87.0,207.0,NaN,89.0,NaN,1,44.0,25.0,30.0,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14910,1,54,180,83,86.0,158.0,NaN,123.0,NaN,1,28.0,19.0,22.0,NaN,0,0
14911,0,68,165,57,80.0,185.0,NaN,81.0,NaN,1,21.0,32.0,20.0,NaN,0,0
14912,0,60,165,74,86.0,171.0,1.0,79.0,16.7,1,64.0,28.0,35.0,102.0,1,0
14913,0,60,169,66,86.0,193.0,NaN,95.0,NaN,1,21.0,19.0,19.0,NaN,0,0
14914,0,60,170,61,82.0,161.0,0.9,93.0,13.2,1,17.0,11.0,16.0,53.0,1,0

In [10]:
df_raw_blood_man.dropna(inplace=True)

In [11]:
df_raw_blood_man["judge"] = df_raw_blood_man["judge"].astype(int)

In [12]:
# get_dummies: 데이터의 문자형 변수에 대한 더미변수 생성
df_raw_dummy=pd.get_dummies(df_raw_blood_man)

# 더미변수 생성된 데이터의 상위 5개 row를 확인
df_raw_dummy.head()

,judge,age,height,weight,waist,bt_chol,bt_crea,bt_gluc,bt_hb,bt_hct,...,bt_rbc,bt_wbc,bt_rgpt,bt_sgot,bt_sgpt,bt_trig,bp_judge,pulse_count_judge,bt_hbsa_0,bt_hbsa_1
5,0,70,169,70,90.0,223.0,1.0,72.0,16.9,50.3,...,519.0,7500.0,45.0,23.0,30.0,169.0,1,0,0,1
20,0,69,170,70,86.0,202.0,1.0,111.0,15.0,47.4,...,453.0,4800.0,34.0,22.0,20.0,70.0,0,0,0,1
29,0,69,170,65,84.0,192.0,1.0,73.0,14.5,43.9,...,480.0,6200.0,25.0,13.0,13.0,150.0,1,0,0,1
31,0,69,178,77,83.0,177.0,1.0,80.0,15.1,45.6,...,474.0,6500.0,34.0,20.0,21.0,78.0,0,0,0,1
43,0,69,169,68,89.0,235.0,0.8,85.0,12.1,39.0,...,392.0,6700.0,29.0,21.0,23.0,88.0,0,0,0,1

In [13]:
Y=df_raw_dummy["judge"]
X=df_raw_dummy.drop(["judge"], axis=1,inplace=False)

In [14]:
import numpy as np
from pandas import DataFrame
from sklearn.metrics import accuracy_score

seed = 2017
np.random.seed(seed)

from mlens.ensemble import SuperLearner
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [15]:
# --- Build ---
# Passing a scoring function will create cv scores during fitting
# the scorer should be a simple function accepting to vectors and returning a scalar
ensemble = SuperLearner(scorer=accuracy_score, random_state=seed, verbose=2)

# Build the first layer
ensemble.add([RandomForestClassifier(random_state=seed), SVC()])

# Build the second layer
ensemble.add([LogisticRegression(), SVC()])

# Build the third layer
ensemble.add([SVC(),KNeighborsClassifier()])

# Build the forth layer
ensemble.add([KNeighborsClassifier(),DecisionTreeClassifier()])

# Build the fifth layer
ensemble.add([DecisionTreeClassifier(),GradientBoostingClassifier()])

# Attach the final meta estimator
ensemble.add_meta(GradientBoostingClassifier())

# --- Use ---

# Fit ensemble
ensemble.fit(X[:], Y[:])

# Predict
preds = ensemble.predict(X[:])

Fitting 6 layers
Processing layer-1             done | 00:00:01
Processing layer-2             done | 00:00:00
Processing layer-3             done | 00:00:00
Processing layer-4             done | 00:00:00
Processing layer-5             done | 00:00:00
Processing layer-6             done | 00:00:00
Fit complete                        | 00:00:02

Predicting 6 layers
Processing layer-1             done | 00:00:00
Processing layer-2             done | 00:00:00
Processing layer-3             done | 00:00:00
Processing layer-4             done | 00:00:00
Processing layer-5             done | 00:00:00
Processing layer-6             done | 00:00:00
Predict complete                    | 00:00:00

In [16]:
print("Fit data:\n%r" % ensemble.data)

Fit data:
                                       score-m  score-s  ft-m  ft-s  pt-m  pt-s
layer-1  randomforestclassifier           0.77     0.00  0.83  0.01  0.04  0.00
layer-1  svc                              0.77     0.00  0.18  0.01  0.12  0.01
layer-2  logisticregression               0.77     0.00  0.10  0.01  0.00  0.00
layer-2  svc                              0.77     0.00  0.03  0.00  0.03  0.01
layer-3  kneighborsclassifier             0.77     0.00  0.03  0.00  0.17  0.01
layer-3  svc                              0.77     0.00  0.07  0.00  0.01  0.00
layer-4  decisiontreeclassifier           0.77     0.00  0.01  0.01  0.00  0.00
layer-4  kneighborsclassifier             0.77     0.00  0.02  0.01  0.10  0.01
layer-5  decisiontreeclassifier           0.77     0.00  0.01  0.00  0.00  0.00
layer-5  gradientboostingclassifier       0.77     0.00  0.36  0.01  0.00  0.00

In [17]:
print("Prediction score: %.3f" % accuracy_score(preds, Y[:]))

Prediction score: 0.768